html {
  font-family: "Roboto", sans-serif;

  height: 100%;
  width: 100%;
  overflow-x: hidden;
  word-wrap: break-word;

  & * {
    font-family: "Roboto", sans-serif;
    // max-width: 100vw;
    text-decoration-thickness: 1px !important;
    // text-underline-position: under;
  }
}

::-webkit-scrollbar {
  background-color: transparent;
  overflow-y: overlay;
  border: none;
  border-radius: 5px;
  width: 0;
  height: 0;
}
::-webkit-scrollbar-track {
  background: red;
  border-left: solid 1px red;
}
::-webkit-scrollbar-thumb {
  background: red;
  border-radius: 5px;
}

body,
#app,
#view {
  width: 100%;
  height: 100%;
  margin: 0;
}

button, a {
  font-weight: bold !important;
  &:focus {
    outline: none;
  }
}
a {
  &:focus {
    text-decoration: underline;
  }
}
button {
  display: block !important;
  &:focus {
    box-shadow: 0 0 0 0.25rem rgba($primary, 0.5) !important;
  }
  &.has-icon {
    color: $primary;
    &:hover {
      color: $body-bg;
    }
  }
  &:not(.btn) {
    background-color: transparent;
    border: none;
  }
}
input, textarea {
  color: currentColor !important;
  background-color: transparent !important;
  &:focus {
    box-shadow: 0 0 0 0.25rem rgba($primary, 0.5), inset 0 0 0 10rem rgba($primary, 0.1) !important;
  }
}
input:not([type="text"]) {
  cursor: pointer;
}
// bootstrap
.btn {
  box-shadow: inset 0 0 0 1px $body-bg;
}
.btn-outline-primary {
  color: $orange-700;
}
.card-body {
  z-index: 100;
}
.form-switch > .form-check-input {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='%23ca6510'/></svg>") !important;
}
.tooltip.show {
  opacity: 1;
}
.tooltip-arrow::before {
  border-top-color: $primary !important;
}
.tooltip-inner {
  border: solid 1px $primary;
}
// custom
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.underline {
  text-decoration: underline;
}
.h-fit {
  height: fit-content;
}
.w-fit {
  width: fit-content;
}
.aria-only {
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  height: 0;
  width: 0;
}
// Darkmode
.dark {
  --bs-dark-rgb: 41, 37, 33; //$black
  --bs-body-bg-rgb: 18, 18, 18; //$dark
  #app {
    background-color: $black;
    color: $white;
  }
  * {
    border-color: $orange-600;
  }
  .btn {
    box-shadow: inset 0 0 0 1px $black;
    &.btn-primary {
      background-color: $orange-600;
      &:hover {
        background-color: $white;
      }
    }
    &.btn-outline-primary {
      color: $orange-600;
      &:hover {
        color: $black;
        background-color: $orange-600;
      }
    }
  }
  input {
    color: $white !important;
  }
}