html {
  font-family: "Roboto", sans-serif;

  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: $violet;
  color: $white;
  word-wrap: break-word;

  & hr {
    background-color: $white;
  }
}

body,
#app,
#view {
  width: 100%;
  height: 100%;
  margin: 0;
}

textarea, div[contenteditable="true"] {
  font-family: "Roboto", sans-serif;
  resize: none;

  height: 100%;
  flex-grow: 1;

  border: none;
  background-color: inherit;
  color: inherit;
  padding: 1rem;
  text-align: center;
}

button {
  padding: 0.25rem 0.75rem;
  z-index: 1000;
  border: solid 1px $pink;
  background-color: $dark_blue;
  color: $white;
  &:hover {
    background-color: $pink;
  }
  &:active {
    background-color: $violet;
  }
}
.fa-icon {
  &:hover svg, &:focus svg {
    color: $pink;
  }
  &:active svg {
    color: $violet;
  }
}

.card {
  border: solid 1px $pink;
  border-radius: $card_rad;
  background-color: $violet;

  transform-style: preserve-3d;
  &:last-child {
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.5);
  }
  & .recto,
  & .verso {
    position: absolute;
    left: 1rem;
    top: 1rem;
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    display: flex;
    flex-direction: column;
    &>div {
      width: 100%;
      margin: 0;
      background-color: rgba($color: $dark_blue, $alpha: 1);
      border: solid 1px $pink;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
    }
    & .readingZone {
      width: auto;
      padding: 1rem;
      padding-top: 0;
    }
    & hr {
      border: none;
    }
    & .flip-card {
      position: absolute;
      top: -0.5rem;
      right: -0.25rem;
      margin: 0;
      padding: 0;
      color: $white;
      background-color: transparent;
      border: none;
    }
  }
  & .verso {
    transform: rotateY(180deg);
    & .readingZone {
      position: relative;
    }
    & .streakButtons {
      position: absolute;
      bottom: -0.5rem;
      left: -2.5%;
      width: 105%;
      display: flex;
      justify-content: space-between;
      & button {
        width: 30%;
        word-wrap: normal;
      }
    }
  }
  & .bottom {
    & .calc-revision {
      padding: 1rem 0;
      font-style: italic;
    }
    & .streak {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    & .mini {
      margin: 0.25rem;
      margin-left: auto;
      font-size: 0.75rem;
    }    
  }
}

.doubleButtons {
  margin: 0;
  display: flex;
  justify-content: flex-start;
  & button {
    margin: 0;
    padding: 0.25rem 1rem;
    flex-grow: 1;
    &:first-child {
      margin-right: -1px;
    }
  }
}

.doodle {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: $card_rad;
  z-index: -1;
}
css-doodle {
  position: absolute;
  width: 110%;
  height: 110%;
  top: -5%;
  left: -5%;

  --rule: (
    @grid: 35;
    --deg: @p(45deg, -45deg, 135deg, -135deg);
    --lg: linear-gradient(@var(--deg),#60569e 50%, transparent 0);
    @nth(2n + 1) {
      background:
      @var(--lg) 0 0 / 100% 100%,
      @var(--lg) 0 0 / 50% 50%;
    }
    @nth(2n) {
    }
  );
  --rule1: (
    :doodle {
      @grid: 35;
      background: #0a0c27;
    };
    --hue: calc(180 + 1.5 * @row * @col);
    background: hsl(var(--hue), 50%, 70%);
    margin: -.5px;
    transition: @r(.5s) ease;
    clip-path: polygon(@pick(
      '0 0, 100% 0, 100% 100%',
      '0 0, 100% 0, 0 100%',
      '0 0, 100% 100%, 0 100%',
      '100% 0, 100% 100%, 0 100%'
    ));
  );
  --pattern-9: (
    @grid: 1 / 100%;
    background-color: $violet;
    background-image: @doodle(
      :doodle {
        @grid: 1 / 10000px;
        transform: scale(1.5) rotate(45deg);
      }
      background-size: 300px 300px;
      background-image: @doodle(
        @grid: 1 / 100%;
        background: @doodle(
          @grid: @r(8) / 100%;
            background: @doodle(
            @grid: @r(10) / 100%;
            background: radial-gradient(
              @stripe.@m2.@p(
                @m10(#293462),
                @m10(#211a4c), 
                @m2(#b2ebf2), 
                #e84a5f
              )
            );
          );
        );
      );
    );
  );
  --pattern-card-side: (
    @grid: 32;
    @size: 1px calc(15px + 70%);
    transform: rotate(@r(±90deg));
    background: #e84a5f;
    opacity: calc(1 - 1 / 1000 * @index);
  )
}