$dark_blue: #211a4c;
$pink: #e7576a;
$violet: rgb(49, 17, 75);
$white: rgb(247, 236, 248);

$colors: (
  'cust_pink' $pink,
  'cust_violet' $violet,
  'cust_white' $white,
  'cust_red' red,
  'cust_orange' orange,
  'cust_yellow' yellow,
  'cust_green' limegreen,
  'cust_blue' dodgerblue,
);

$card_rad: 1rem;


@each $name, $color in $colors {
  .#{$name} {
    color: $color !important;
  };
};

@for $i from 1 through 10 {
  .flex-grow-#{$i} {
    flex-grow: $i;
  }
};

@mixin case_style {
  background-color: $dark_blue;
  border: solid 1px $pink;
  padding: 0.25rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  & span {
    margin: 0 0.75rem;
  }
  & svg {
    margin: 0 0.5rem;
    margin-right: auto;
  }
}